{# Macro de tuile #}
{% macro tile(color, icon, text, link = '#', wide) %}
	<div class="thumbnail tile {{ wide }} tile-{{ color }}">
		<a href="{{ link }}" class="fa-links" >
			{% if text is not null %}
				<h1>{{ text }}</h1>
			{% endif %}
			<i class="fa fa-{{ icon }} fa-3x"></i>
		</a>
	</div>
{% endmacro %}

{# Macro d'input #}
{% macro input(id, type, placeholder, value, label, size) %}
	<div class="form-group {{ size|default('col-md-5') }}">
    	{% if label is not null %}
    		<label for="{{ id }}">{{ label }}</label>
    	{% endif %}
    	<input type="{{ type|default('text') }}" class="form-control" id="{{ id }}" name="{{ id }}" placeholder="{{ placeholder }}" value="{{ value }}">
  	</div>
{% endmacro %}

{# Macro de datetime #}
{% macro date(name, id, label, size) %}
	<div class="form-group {{ size|default('col-md-3') }}">
    	{# <label for="{{ id }}">{{ label }}</label> #}
    	{% if label is not null %}
    		<label for="{{ id }}">{{ label }}</label>
    	{% endif %}
		<input type="date" name="{{ name }}" id="{{ id }}" class="form-control">
	</div>
{% endmacro %}

{# Macro pour les selecteurs #}
{% macro select (name, id, options, selected, required, label, size) %}
	<div class="form-group {{ size|default('col-md-3') }}">
		{% if label is not null %}
    		<label for="{{ id }}">{{ label }}</label>
    	{% endif %}
    	<select name="{{ name }}" id="{{ id }}" class="form-control" {{ required ? 'required' : '' }}>
    	    {% for key, value in options %}
    	        <option value="{{ key }}" {{ key == selected ? 'selected' : '' }}>{{ value }}</option>
    	    {% endfor %}
    	</select>
	</div>
{% endmacro %}

{# Macro de panneau d'alerte #}
{% macro alert(type, message, size, id) %}
	<div class="{{ size|default('col-md-12') }}" id="{{ id }}">
		<div class="alert alert-{{ type }}" role="alert">{{ message }}</div>
	</div>
{% endmacro %}

{# Macro de panneau well #}
{% macro well(message, width, size) %}
	<div class="well well-{{ width|default('sm') }} {{ size|default('col-md-12') }}">{{ message }}</div>
{% endmacro %}

{% macro url(path) %}
	http://localhost/Oxford/public{{path}}
{% endmacro %}