{% extends 'template.twig' %}
{% import 'component.twig' as component %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block content %}
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-12">
			<ul class="nav nav-pills">
  			  	<li><a href="{{component.url('/home') }}"><i class="fa fa-home"></i> Accueil</a></li>
  			  	<li class="dropdown active">
  				  <a class="dropdown-toggle" data-toggle="dropdown" href="{{component.url('/users') }}"><i class="fa fa-users"></i> Gestion des utilisateurs
  				  <span class="caret"></span></a>
  				  <ul class="dropdown-menu">
  				    <li><a href="{{component.url('/users') }}"><i class="fa fa-list"></i> Liste des employés</a></li>
  				    <li><a href="{{component.url('/user/new') }}"><i class="fa fa-plus"></i> Nouvel employé</a></li>
  				  </ul>
  				</li>
			  	<li><a href="{{component.url('/events') }}"><i class="fa fa-eye"></i> Journal des événements</a></li>
			  	<li><a href="{{ component.url('/tickets') }}"><i class="fa fa-ticket"></i> Gestion des tickets</a></li>
			  	<li><a href="{{ component.url('/config') }}"><i class="fa fa-wrench"></i> Configuration</a></li>
			</ul>
		</div>
	</div>
	<form method="post" name="createUser" enctype="multipart/form-data">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <div class="form-group">
			      <img src="http://via.placeholder.com/170x250" alt="" style="margin-bottom: 5px;">
  				  <input type="file" id="userPhoto" name="photo" class="btn btn-default">
  				</div>
			  </div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-body">
						{% set groups = {
						    'M': 'Masculin',
						    'F': 'Féminin'
						} %}
						{{ component.input('nom', 'text', 'Nom :', '', 'Nom :', 'col-md-5') }}
						{{ component.input('prenom', 'text', 'Prénom :', '', 'Prémom :', 'col-md-5') }}
						{{ component.input('email', 'email', 'Adresse email :', '', 'Adresse mail :', 'col-md-5') }}
						{{ component.input('birth', 'birth', 'dd/mm/yyyy', '', 'Date de naissance :', 'col-md-4') }}
						{{ component.select('sexe', 'sexe', groups, 'M', true, 'Sexe :') }}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-md-4 form-group">
    					<label for="type">Poste :</label>
						<select name="type" id="type" class="form-control" onchange="createPassword(this);">
							{% for type in types %}
							    <option value="{{ type.id }}" >{{ type.value }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-4 form-group {{ class }}" id="passwordInput">
					  <label class="control-label">Mot de passe :</label>
					  <div class="input-group">
					    <input type="text" name="password" class="form-control">
					    <span class="input-group-btn">
					      <button class="btn btn-default" onClick="generatePwd();" type="button">Générer</button>
					    </span>
					  </div>
					</div>
					{% if user.type != 1 %}
						{{ component.alert('info', "Le nouveau mot de passe sera envoyé par mail à l'utilisateur.", 'hidden col-md-12', 'passwordAlert') }}
					{% endif %}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					{{ component.alert('info', "Le code d'accès sera envoyé par mail à l'utilisateur.") }}
					<div class="col-md-3 form-group" id="accessCodeInput">
					  <label class="control-label">Code d'accès:</label>
					  <div class="input-group">
					    <input type="text" name="code" class="form-control">
					    <span class="input-group-btn">
					      <button class="btn btn-default" onClick="generateCode();" type="button">Générer</button>
					    </span>
					  </div>
					</div>
					<div class="row form-group">
    					<div class="col-lg-6 col-md-offset-4 btn-group">
    					    <button type="reset" class="btn btn-default">Annuler</button>
    					    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Sauvegarder les informations</button>
    					</div>
    				</div>
				</div>
			</div>
		</div>
	</div>
	</form>
{% endblock %}

{% block scripts %}

	{{ parent() }}
	<script src="{{component.url('/js/generate.js')|trim }}"></script>
	<script type="text/javascript">
    	generatePwd();
		function createPassword(that) {
    	    if (that.value == 1) {
    	    	generatePwd();
    	        $('#passwordAlert').removeClass('hidden');
    	        $('#passwordInput').removeClass('hidden');
    	    } else {
    	        $('#passwordInput').addClass('hidden');
    	        $('#passwordAlert').addClass('hidden');
    	    }
    	}
	</script>
{% endblock %}