{% extends 'template.twig' %}
{% import 'component.twig' as component %}
{% set uc = 'newticket' %}

{% block title %}Nouveau ticket{% endblock %}

{% block content %}

    <div class="row">

        {% if session.id %}
            <div class="col-md-3">
                {{ component.menu(uc) }}
            </div>
            {% set size = 'col-md-9' %}
        {% else %}
            {% set size = 'col-md-10 col-md-offset-1' %}
        {% endif %}
        <div class="{{ size }}">
            <form  method="post">
            <div class="panel panel-default">
                <div class="panel-heading">Créer un nouveau ticket</div>
                <div class="panel-body">
                    {{ component.input('email', 'email', '', null, "Adresse email :", 'col-md-10 col-md-offset-1') }}
                    {{ component.input('codeacces', 'password', '', null, "Code d'accès :", 'col-md-2 col-md-offset-1') }}
                    <div class="form-group col-md-10 col-md-offset-1">
                        <select id="selectprob" class="form-control" name="selectprob">
                            {% for subject in subjects  %}
                                <option value="{{subject.id}}">{{subject.value}}</option>
                            {% endfor %}
                            <option value="666">Autre...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-10 col-md-offset-1" style="display:none;" id="sujetAutre">
                        <input type="text" name="sujet_autre" maxlength="100" placeholder="Résumez explicitement votre problème.." class="form-control">
                    </div>
                    <div class="form-group col-md-10 col-md-offset-1" id="AfficheTicket">
                        <textarea maxlength="1000" required name="prob" style="resize: vertical;" class="form-control" id="text" placeholder="Expliquez votre problème..." rows="3"></textarea>
                        <span class="pull-right label label-default" id="count_message"></span>
                    </div>
                    <div class="form-group col-md-9 col-md-offset-1">
                        <button type="submit" class="btn btn-success">Envoyer</button>
                        <button type="submit" class="btn btn-default">Réinitialiser</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}

    <script>
        document.getElementById('selectprob').addEventListener('click', function () {
            if (document.getElementById('selectprob').value == 666) {
                document.getElementById('sujetAutre').style = "display:visible;"
            } else {
                document.getElementById('sujetAutre').style = "display:none;"
            }

        });

        var text_max = 1000;
        $('#count_message').html('0 / ' + text_max);

        $('#text').keyup(function () {
            var text_length = $('#text').val().length;
            var text_remaining = text_max - text_length;

            $('#count_message').html(text_length + ' / ' + text_max);
        });
    </script>
{% endblock %}