{% import 'component.twig' as component %}

<table class="table">
    <tr>
    	<th>#</th>
        <th></th>
    	<th>Evénement</th>
    	<th><i class="fa fa-user"></i> Utilisateur</th>
    	<th>Statut</th>
        <th><i class="fa fa-calendar-o"></i> Date</th>
        {% if session.id %}
            <th>Filtrage</th>
            <th>Actions</th>
        {% endif %}
    </tr>
    {% for ticket in tickets %}
  	<tr class="{{class}}">
        <td>{{ ticket.id }}</td>
  		<td><a href="{{ component.url('/ticket/'~ ticket.id) }}">{{ ticket.subject }}</a></td>
        {% if ticket.event is not empty %}
            {% if session.id %}
              <td><a href="{{ component.url('/events/'~ ticket.event) }}" data-toggle="tooltip" data-placement="bottom" title="{{ ticket.eventvalue }}">#{{ ticket.event }}</a></td>
            {% else %}
  		        <td><a href="#" data-toggle="tooltip" data-placement="bottom" title="{{ ticket.eventvalue }}">#{{ ticket.event }}</a></td>
            {% endif %}
        {% else %}
            <td> </td>
        {% endif %}
        {% if session.id %}
                <td>
                {% if ticket.nom is not null %}
                    <a href="{{ component.url('/user/' ~ ticket.user) }}">
                        {{ ticket.nom}} {{ticket.prenom}}
                    </a>
                {% else %}
                    Utilisateur supprimé
                {% endif %}
            </td>
            <td><a href="{{ component.url('/tickets/statut/' ~ component.statusfilter(ticket.statut) ) }}">{{ component.status(ticket.statut) }}</a></td>
            <td>{{ ticket.date|date('d/m/Y') }} {{ ticket.date|date('H:i:s') }}</td>
            <td>
                <a href="{{ component.url('/tickets/user/') }}{{ticket.user}}" title="Voir tous les événements de l'utilisateur {{ ticket.nom }} {{ ticket.prenom }}">
                    <i class="fa fa-user"></i>
                </a>
                <a href="{{ component.url('/tickets/date/') }}{{ ticket.date}}" title="Voir tous les événements datant du {{ ticket.date|date('d/m/Y') }}">
                    <i class="fa fa-calendar"></i>
                </a>
                <a href="{{ component.url('/tickets/status/' ~ component.statusfilter(ticket.statut)) }}{{ticket.category|lower}}" title="Voir tous les événements {{ticket.category|capitalize}}">
                    <i class="fa fa-folder-o"></i>
                </a>
            </td>
            <td>
                <a href="{{ component.url('/ticket/'~ ticket.id ~ '/delete') }}"><i class="fa fa-times"></i></a>
            </td>
        {% else %}
  		    <td><span>{{ ticket.nom}} {{ticket.prenom}}</span></td>
            <td>{{ component.status(ticket.statut) }}</td>
  		    <td>{{ ticket.date|date('d/m/Y') }} {{ ticket.date|date('H:i:s') }}</td>
        {% endif %}
  	</tr>
    {% else %}
        {{ component.well(error_message, 'sm', 'col-md-12') }}
    {% endfor %}
</table>