{% extends 'template.twig' %}
{% import 'component.twig' as component %}

{% block title %}{{ ticket.subject }}{% endblock %}

{% block content %}
    
	<div class="row">
		{% if session.id %}
		<div class="col-md-3">
			{{ component.menu('tickets') }}
		</div>
		{% set size = 'col-md-9' %}
		{% else %}
			{% set size = 'col-md-10 col-md-offset-1' %}
		{% endif %}
		<div class="{{ size }}">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				{{ component.status(ticket.statut) }} {{ 'Ticket #' ~ ticket.id }} : <strong>{{ ticket.subject }}</strong> par <i>{{ ticket.nom ~ ' ' ~ ticket.prenom }}</i>
					<span class="pull-right"><small>Dernière réponse le {{ ticket.date|date('d/m/Y à H:i:s') }}</small></span>
    			</div>
    			{% if session.id %}
    				<div class="panel-footer">
    					<a href="{{ component.url('/ticket/'~ ticket.id ~ '/token_' ~ ticket.token) }}">Lien d'accès au ticket</a>
    				</div>
    			{% endif %}
    		</div>
			{% for replie in replies %}
    			<div class="panel panel-default" id="replie_{{ replie.id }}">
					<div class="panel-body">
						<p class="wrap-text">{{ replie.value|nl2br }}</p>
					</div>
					<div class="panel-footer">
						<small>Posté par {{ replie.nom|capitalize ~ ' ' ~ replie.prenom|upper }} le {{ replie.date|date('d/m/Y') }} à {{ replie.date|date('H:i:s') }}</small>
					</div>   	
    			</div>
			{% else %}
    			    Il n'y à aucunes réponses pour ce ticket
			{% endfor %}

			{% if ticket.statut != 4 %}
			<div class="panel panel-default">
				<div class="panel-body">
					<form action="" method="post">
                                            <textarea name="reply_message" maxlength="1000" class="form-control" id="text" style="resize: vertical;" cols="100" rows="5"></textarea><br>
                                                <span class="pull-right label label-default" id="count_message"></span>
						<div class="btn-group col-md-5 col-md-offset-4" role="group" aria-label="...">
						  <button type="reset" class="btn btn-default">Réinitialiser</button>
						  <button type="submit" class="btn btn-primary">Poster</button>
						</div>
					</form>
				</div>
			</div>
			{% else %}
			    <div class="well">Le ticket est fermé, impossible de répondre</div>
			{% endif %}
			
			<div class="pull-right">
				<div class="btn-group" role="group" aria-label="...">
					{% if ticket.statut != 4 %}
						<a href="{{ component.url('/ticket/'~ ticket.id ~ '/cloturer') }}" class="btn btn-danger">Cloturer</a>
					{% else %}
						{% if session.type == 'rssi' %}
							<a href="{{ component.url('/ticket/'~ ticket.id ~ '/ouvrir') }}" class="btn btn-success">Ouvrir</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
    
{% endblock %}
{% block scripts %}
    {{ parent() }}

    <script>
        var text_max = 1000;
        $('#count_message').html('0 / ' + text_max);

        $('#text').keyup(function () {
            var text_length = $('#text').val().length;
            var text_remaining = text_max - text_length;

            $('#count_message').html(text_length + ' / ' + text_max);
        });
    </script>
{% endblock %}