{% extends 'template.twig' %}
{% import 'component.twig' as component %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
  			  	<li><a href="{{component.url('/home') }}"><i class="fa fa-home"></i> Accueil</a></li>
  			  	<li class="active"><a href="{{component.url('/users') }}"><i class="fa fa-users"></i> Gestion des utilisateurs</a></li>
			  	<li><a href="{{component.url('/events') }}"><i class="fa fa-eye"></i> Journal des événements</a></li>
			  	<li><a href="{{ component.url('/tickets') }}"><i class="fa fa-ticket"></i> Gestion des tickets</a></li>
			  	<li><a href="{{ component.url('/config') }}"><i class="fa fa-wrench"></i> Configuration</a></li>
			</ul>
		</div>
		<div class="col-md-9">
		{% if filtered %}
			<h3>{{ filtered }}</h3>
		{% endif %}
		{% for user in users %}
			<div class="col-md-3 user">
				<div class="panel panel-default">
					<div class="panel-body">
						<a href="{{ component.url('/user/'~ user.id) }}"><img src="{{ component.url('/photos/'~ user.photo) }}" class="img-responsive"></a>
					</div>
					<div class="panel-footer">
						{{ user.nom }} {{ user.prenom }} 
						<span class="pull-right">
						<a href="" class="dropdown-toggle" type="button" id="dropdownUser{{user.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  						  <i class="fa fa-{{ user.icon }}" title="{{ user.filter }}"></i>
  						</a>
  						<ul class="dropdown-menu" aria-labelledby="dropdownUser{{user.id}}">
  						  	<li>
  						  		<a href="{{ component.url('/user/'~ user.id) }}" title="Editer l'utilisateur">
  						  			<i class="fa fa-pencil"></i> Editer
  						  		</a>
  						  	</li>
				  			{% if user.status is null %}
				  				<li>
				  					<a href="{{ component.url('/user/'~ user.id ~'/restore') }}" title="Restaurer l'utilisateur">
				  						<i class="fa fa-plus"></i> Restaurer
				  					</a>
				  				</li>
				  			{% else %}
				  				<li>
				  					<a href="{{ component.url('/user/'~ user.id ~'/delete') }}" title="Supprimer l'utilisateur">
				  						<i class="fa fa-trash"></i> Supprimer l'utilisateur 
				  					</a>
				  				</li>
				  				{% if user.status == 1 %}
				  					<li>
				  						<a href="{{ component.url('/user/'~ user.id ~'/revoke') }}" title="Révoquer l'accès">
				  							<i class="fa fa-ban"></i> Révoquer l'accès
				  						</a>
				  					</li>
						{% elseif user.status == 0 %}
				  			<li>
				  				<a href="{{ component.url('/user/'~ user.id ~'/autorize') }}" title="Réattribuer l'accès">
				  					<i class="fa fa-key"></i> Réattribuer l'accès
				  				</a>
				  			</li>
				  		{% endif %}
				  	{% endif %}
  						</ul>
						
  						</span>
					</div>
				</div>
				{# <div class="btn-group">
				  	<a href="{{ component.url('/user/'~ user.id) }}" title="Editer l'utilisateur" class="btn btn-default"><i class="fa fa-pencil"></i> Editer</a>
				</div> #}
		   </div>
		{% else %}
			{% if search is defined or search == 'deleted' %}
				{{ component.well("Il n'y a pas d'" ~ filtered|lower|default('utilisateurs enregistrés dans la base de données.'), 'sm', 'col-md-10 col-md-offset-1') }}
			{% else %}
				{{ component.well("Il n'y a pas d\'utilisateurs enregistrés dans la base de données.", 'sm', 'col-md-10 col-md-offset-1') }}
			{% endif %}
		{% endfor %}
		</div>
		{# <div class="col-md-1 col-tile">
			{{ component.tile('green tile-normal', 'plus-circle', null, 'users/new') }}
			{{ component.tile('red tile-normal', 'trash-o', null, 'users/deleteAll') }}
			{{ component.tile('red tile-normal', 'ban', null, 'users/deleteAll') }}
		</div> #}

		<div class="btn-group pull-right">
		  	<a href="users/new" title="Nouvel utilisateur" class="btn btn-default"><i class="fa fa-plus"></i> Nouveau</a>
			<div class="btn-group" role="group">
  			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  			    <i class="fa fa-filter"></i> Filtrer 
  			    <span class="caret"></span>
  			  </button>
  			  <ul class="dropdown-menu">
  			    {% if search is defined %}
  			    	<li><a href="{{component.url('/users/') }}"><i class="fa fa-users"></i> Tous</a></li>
  			    {% endif %}
  			  	{% for type in types %}
  			    	{% if type.filter != search %}
  			    	<li><a href="{{component.url('/users/'~ type.filter) }}"><i class="fa fa-{{ type.icon }}"></i> {{ type.value }}</a></li>
  			    	{% endif %}
  			  	{% endfor %}
  			    {% if search != 'deleted' %}
  			    	<li><a href="{{component.url('/users/deleted') }}"><i class="fa fa-trash-o"></i> Supprimés</a></li>
  			    {% endif %}
  			  </ul>
  			</div>
		</div>
	</div>
{% endblock %}