<center><img src="https://i.imgur.com/kzj1x2Q.png"></center><br><br><br>

Bonjour {{ datas.nom|upper ~ ' ' ~ datas.prenom|capitalize }},<br>
Votre ticket à été créé, 

<i>{{ probleme|nl2br }}</i>

Un RSSI y répondra ultérieurement et dans les plus brefs délais. <br>
Vous recevrez par mail sa réponse.

Voici un lien pour accèder aux informations de votre ticket et y répondre ou ajouter de nouveaux détails concernant votre problème : <br>
<a href="http://oxfordbonaparte.alwaysdadata.net/ticket/{{id}}/token_{{token}}">http://oxfordbonaparte.alwaysdadata.net/ticket/{{id}}/token_{{token}}</a>

A partir de ce lien vous pourrez également visualiser vos autres tickets sur la page "Mes tickets" <br>

Cordialement, l'équipe Oxford. <br><br>

<a href="https://bts-sio.lyc-bonaparte.fr">BTS SIO (Services Informatiques aux Organisations) Lycée Bonaparte, Toulon</a>

