<center><img src="https://i.imgur.com/kzj1x2Q.png"></center><br><br><br>

Bonjour {{ datas.nom|capitalize ~ ' ' ~ datas.prenom|upper }},<br>
Un RSSI à répondu à votre ticket #{{ id }} ce jour à {{ "now"|date('H:i:s') }}</b><br>

Vous pouvez consulter sa réponse et y répondre à ce lien : <br>
<a href="http://oxfordbonaparte.alwaysdata.net/ticket/{{id}}/token_{{token}}">http://oxfordbonaparte.alwaysdata.net/ticket/{{id}}/token_{{token}}</a><br>

Cordialement, l'équipe Oxford. <br><br>

<a href="https://bts-sio.lyc-bonaparte.fr">BTS SIO (Services Informatiques aux Organisations) Lycée Bonaparte, Toulon</a>

